.content_box h1 {
  font-size: 3.5rem;
}
.content_box h2 {
  font-size: 3rem;
}

.box_properties {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  height: 500px;
  margin-top: 50px;
}
.box_properties figure {
  position: relative;
}
.box_properties figure img {
  width: 800px;
  position: absolute;
  left: -500px;
  top: -250px;
}
.box_properties-description {
  margin-top: 60px;
  text-align: left;
}
.box_properties-description p {
  padding-left: 0;
}

.devices figure img {
  width: 900px;
  margin-left: -200px;
}

.work,
.companies {
  width: 900px;
  margin-left: -155px;
}

.companies figure {
  width: 140px;
  margin: 0 auto;
}

.footer {
  width: 900px;
}