* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url(../images/bg-header-mobile.png);
  background-position: top 0;
  background-repeat: no-repeat;
}

.content {
  width: 100%;
  margin-bottom: 170px;
}
.content_box {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.content_box--buttons {
  width: 310px;
  margin: 50px auto 0;
}
.content_box--buttons a {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.content_box--buttons a:first-child {
  margin-bottom: 20px;
}
.content_box--buttons .cyan {
  background-color: #26baa4;
  box-shadow: 0 -3px 1px #219f8a inset;
}
.content_box--buttons .cyan:hover {
  box-shadow: 0 5px 10px #26baa4;
}
.content_box--buttons .blue {
  background-color: #6174ff;
  box-shadow: 0 -3px 1px #4f62da inset;
}
.content_box--buttons .blue:hover {
  box-shadow: 0 5px 10px #6174ff;
}
.content_box figure {
  margin: 120px 0 50px;
}
.content_box h1 {
  padding: 20px;
  font-size: 2.8rem;
  color: #4c545d;
}
.content_box p {
  padding: 0 20px;
  font-size: 1.55rem;
  line-height: 25px;
  color: #9fabb2;
}
.content_box h2 {
  padding: 20px;
  font-size: 2.6rem;
  color: #4c545d;
}

.box_properties {
  width: 100%;
}
.box_properties figure {
  width: 90%;
  margin: 70px auto;
}
.box_properties figure img {
  width: 100%;
}
.box_properties-description h3 {
  margin-bottom: 15px;
  font-size: 2.4rem;
  color: #4c545d;
}
.box_properties-description p {
  margin-bottom: 50px;
}
.box_properties-description p:last-child {
  margin-bottom: 0;
}

.devices {
  margin-bottom: 100px;
}
.devices figure {
  width: 90%;
  margin: 70px auto 0;
}
.devices figure img {
  width: 100%;
}

.work {
  margin-top: 100px;
}
.work_flows figure {
  margin: 60px 0 50px;
}
.work_flows h3 {
  margin-bottom: 15px;
  font-size: 2.4rem;
  color: #4c545d;
}

.companies {
  margin-top: 120px;
}
.companies figure {
  width: 140px;
  margin: 0 auto 70px;
}
.companies figure img {
  width: 100%;
}

.finish {
  margin-bottom: 0;
  background-color: #f5f6f8;
}

.footer_social-img img {
  width: 60px;
  margin-top: 50px;
}
.footer_social-nav {
  margin-bottom: 50px;
  list-style: none;
}
.footer_social-nav li {
  padding: 20px 0;
}
.footer_social-nav li a {
  color: #4c545d;
  font-size: 18px;
  text-decoration: none;
}
.footer_social-nav li a:hover {
  color: #26baa4;
}
.footer_social-networks {
  margin-bottom: 50px;
}
.footer_social-networks a {
  display: inline-block;
  margin-right: 40px;
}
.footer_social-networks a svg {
  fill: #4c545c;
}
.footer_social-networks a svg:hover {
  fill: #26baa4;
}
.footer_social-networks a:last-child {
  margin-right: 0;
}
.footer_information p {
  padding-bottom: 15px;
  font-size: 1.1rem;
}
.footer_information p a {
  font-weight: bold;
  text-decoration: none;
  color: #4c545d;
  transition: all 360ms;
}
.footer_information p a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #26baa4;
}

@media (min-width: 376px) {
  body {
    background-image: url(../images/bg-header-desktop.png);
  }
}