.content_box {
  width: 590px;
}
.content_box--buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.content_box--buttons a {
  width: 200px;
}
.content_box--buttons a:first-child {
  margin-bottom: 0;
  margin-right: 15px;
}

.work {
  display: flex;
  flex-wrap: wrap;
}
.work_flows {
  width: 295px;
}
.work_flows:first-child {
  margin-top: -8px;
}

.companies {
  display: flex;
  flex-wrap: wrap;
}
.companies figure {
  width: 170px;
  padding: 10px;
}