.content_box {
  width: 590px;
  &--buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    a {
      width: 200px;
    }
    a:first-child {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}

.work {
  display: flex;
  flex-wrap: wrap;
  &_flows {
    width: 295px;
  }
  &_flows:first-child {
    margin-top: -8px;
  }
}
.companies {
  display: flex;
  flex-wrap: wrap;
  figure {
    width: 170px;
    padding: 10px;
  }
}
