.content_box {
  width: 590px;
  &--buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    a {
      width: 200px;
    }
    a:first-child {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}

.work {
  display: flex;
  flex-wrap: wrap;
  &_flows {
    width: 295px;
  }
  &_flows:first-child {
    margin-top: -8px;
  }
}
.companies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  figure {
    width: 170px;
    padding: 10px;
  }
}

.footer {
  &_social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    figure {
      margin: 0;
      img {
        margin: 0;
      }
    }
    &-nav {
      width: 360px;
      margin: 0 15px 0 30px;
      text-align: left;
      li {
        display: inline-block;
        margin-right: 45px;
      }
      li:nth-child(3) {
        margin: 0;
      }
    }
    &-networks {
      margin: 0;
      a {
        margin-right: 8px;
      }
    }
  }
}
